{% extends "base.html" %}

{% block content %}

<h1>Welcome back, {{ user }} 👋</h1>


<!-- DAILY SCRIPTURE -->
<div class="scripture-card">

    <div class="scripture-header">
        📖 Daily Scripture
    </div>

    <div class="verse">
        "I can do all things through Christ who strengthens me."
    </div>

    <div class="reference">
        Philippians 4:13
    </div>

    <a href="/scriptures" class="scripture-btn">
    Read Full Scripture 📖
</a>

</div>



<!-- MOOD INSIGHTS -->

<div class="card">

<h2>🌤️ Mood Insights</h2>


{% if mood_data %}

{% for mood in mood_data %}

<p>
{{ mood["mood"] }} :
<strong>
{{ mood["total"] }}
</strong>
times
</p>

{% endfor %}


{% else %}

<p>
No mood data yet. Start tracking your mood!
</p>

{% endif %}


<p>
💡 {{ mood_message }}
</p>

</div>




<!-- TASK SUMMARY CARDS -->

<div class="dashboard-cards">


    <div class="stat-card">
        <h3>🔥 Active</h3>
        <p>
        {{ tasks | selectattr("status", "equalto", "active") | list | length }}
        </p>
    </div>


    <div class="stat-card">
        <h3>📚 Backlog</h3>
        <p>
        {{ tasks | selectattr("status", "equalto", "backlog") | list | length }}
        </p>
    </div>


    <div class="stat-card">
        <h3>✅ Done</h3>
        <p>
        {{ tasks | selectattr("status", "equalto", "done") | list | length }}
        </p>
    </div>


</div>





<!-- ADD TASK -->

<form action="/add" method="POST" class="task-form">

    <input 
    type="text" 
    name="task" 
    placeholder="Add a new task..."
    required>

    <button>
        Add Task
    </button>

</form>





<hr>


<!-- ACTIVE TASKS -->

<h2>🔥 Active Tasks</h2>


{% for task in tasks %}

{% if task.status == "active" %}


<div class="task-item">

    <span>
        {{ task.title }}
    </span>


    <div>

        <a href="/complete/{{ task.id }}">
            ✔
        </a>

        <a href="/delete/{{ task.id }}">
            🗑
        </a>

    </div>


</div>


{% endif %}

{% endfor %}





<!-- BACKLOG -->

<h2>📌 Backlog</h2>


{% for task in tasks %}

{% if task.status == "backlog" %}


<div class="task-item faded">

{{ task.title }}


<a href="/complete/{{ task.id }}">
✔
</a>


<a href="/delete/{{ task.id }}">
🗑
</a>


</div>


{% endif %}

{% endfor %}





<!-- COMPLETED -->

<h2>🎉 Completed</h2>


{% for task in tasks %}

{% if task.status == "done" %}


<div class="task-item completed">

{{ task.title }}


<a href="/delete/{{ task.id }}">
🗑
</a>


</div>


{% endif %}

{% endfor %}



{% endblock %}