{% extends "base.html" %}

{% block content %}

<h1>🌤️ Mood Tracker</h1>

<div class="card">

<h2>How are you feeling today?</h2>


<form method="POST">

<button name="mood" value="😊 Happy">
😊 Happy
</button>


<button name="mood" value="😐 Okay">
😐 Okay
</button>


<button name="mood" value="😰 Stressed">
😰 Stressed
</button>


<button name="mood" value="😴 Tired">
😴 Tired
</button>


<button name="mood" value="🔥 Motivated">
🔥 Motivated
</button>

</form>

</div>


<br>


<div class="card">

<h2>📊 Recent Moods</h2>


{% if moods %}

    {% for mood in moods %}

        <div>
            <p>
                {{ mood["mood"] }}
            </p>

            <small>
                {{ mood["created_at"] }}
            </small>
        </div>

        <hr>

    {% endfor %}


{% else %}

    <p>
        No moods recorded yet.
    </p>


{% endif %}


</div>


{% endblock %}